{extend name="public/base"/}
{extend name="public/bread"/}
{block name="content"}
<div class="row">
    <div class="col">
        <div class="alert alert-primary border-0" role="alert">
            欢迎使用后台管理系统
            <span class="float-right">{$time|default=date('Y-m-d')}</span>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title ">学员总数</h5>
                <hr>
                <p class="card-text  text-conter">{$userSum}人&nbsp;&nbsp;&nbsp;<span>比昨日&nbsp;:&nbsp;+00</span></p>
                <a href="{:url('admin/user/detail')}" class="card-link">查看详情</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title ">浏览量</h5>
                <hr>

                <p class="card-text  text-conter">
                    {$articleSum}个&nbsp;&nbsp;&nbsp;<span>比昨日&nbsp;:&nbsp;
                        {empty name="$yesterDayHist"}
                        +00
                        {else/}
                        + {$yesterDayHist}
                        {/empty}
                    </span></p>
                <a href="{:url('admin/article/info')}" class="card-link">查看详情</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title ">评论总数</h5>
                <hr>
                <p class="card-text  text-conter">{$yesterDaycomment.sumComment}
                    &nbsp;&nbsp;&nbsp;<span>比昨日&nbsp;:&nbsp;+{$yesterDaycomment.yearyDay}</span></p>
                <a href="{:url('admin/user/detail')}" class="card-link">查看详情</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title ">其他总数</h5>
                <hr>
                <p class="card-text  text-conter">1000&nbsp;&nbsp;&nbsp;<span>比昨日&nbsp;:&nbsp;+00</span></p>
                <a href="{:url('admin/user/detail')}" class="card-link">查看详情</a>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="2">系统信息</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">ip</th>
                    <td>{$Request.ip}</td>

                </tr>
                <tr>
                    <th scope="row">path</th>
                    <td>{$Request.path}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
{/block}