{extend name="public/base"/}
{block name="content"}
<div class="row">
    <div class="col-sm-6">
        <div class="card border-0">
            <div class="card-header bg-primary text-white">
                <img src="https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=3220680692,1610513064&fm=26&gp=0.jpg"
                    width="30" height="30" class="rounded-circle">
                微博
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="">
                        为#抗疫行动#贡献自己的力量 会好的 都会好的 ​​​​</a></li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card border-0">
            <div class="card-header bg-info text-white">
                <img src="https://dss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3600476641,1913129142&fm=26&gp=0.jpg"
                    width="30" height="30">
                知乎
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </div>
</div>

{/block}