{extend name="public/base"/}

{block name="content"}

<div class="card border-0 ">
    <div class="card-body border-bottom">
        <h5 class="card-title"><a href="{:url('index/article/detail',['id'=>$vo.id])}"></a> </h5>
        <h6 class="card-subtitle mb-2 text-muted">

            <i class="fa fa-tag"></i>&nbsp;

        </h6>

        <p class="card-text ell">

        </p>
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p> -->
        <a href="#" class="card-link"><i class="fa fa-comments"> </i>&nbsp;102&nbsp;评论</a>
    </div>
</div>


<div>

</div>
{/block}