{extend name="public/base"/}
{block name="block"}-{$cateInfo|default="首页"}{/block}
{block name="content"}
<div class="row">
    <div class="col-sm-12 col-md-8">
        <h1 class="article-title"></h1>
        <div class="status">11阅读-21评论-作者：ss

            <span class="label label-default">211</span>

        </div>
        <div class="article-content">
            <blockquote>

            </blockquote>

        </div>
        <div class="article-comment">
            <div class="page-header"><b>相关评论</b></div>
            <div class="comment-content">
                <form action="{:url('index/comment/send')}" method="POST">
                    <div class="form-group">
                        <textarea class="form-control" id="comment" name="content" rows="5" cols=""></textarea>
                    </div>
                    <input type="hidden" value="" name="article_id">
                    <input type="hidden" name="menber_id" value="">
                    <div class="form-group pull-right">
                        <input type="submit" class="btn btn-primary" id="" value="评论（请认真评论）" />
                    </div>
                </form>
            </div>
            <div class="clearfix"></div>

            <div class="comment-list">
                <div class="comment-list-item">
                    <div class="info"><small></small></div>
                    <div class="content"></div>
                </div>
            </div>


        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="affix">
            <div class="page-header h3">推荐文章</div>
            <div class="topic-list">


                <div class="topic-list-item">
                    <a href="#" class="title"></a>
                </div>

            </div>
        </div>
    </div>
</div>
{/block}
<script>
    $(function () {
        $('#send').click(function () {
            $.ajax({
                url: "{:url('index/comment/send')}",
                type: 'post',
                data: $('form').serialize(),
                dataType: 'json',
                success: function (data) {
                    if (data.code == 1) {
                        layer.msg(data.msg, {
                            icon: 6,
                            time: 2000
                        }, function () {
                            location.href = data.url;
                        });
                    } else {
                        layer.open({
                            title: '添加成功',
                            content: data.msg,
                            icon: 5,
                            anim: 6
                        });
                    }

                }

            });

            return false;
        });
    });

</script>