<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="/static/bootstarp/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/static/bootstarp/dist/js/jquery.min.js" />
<link rel="stylesheet" href="/static/font/css/font-awesome.css" />
<link rel="stylesheet" href="/static/font/css/font-awesome.min.css" />
<style>
    a:hover {
        text-decoration: none;
    }

    .table thead th {
        border: none
    }

    .table th a {
        display: inline-block;
        width: 80px;
    }

    .ell {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;

    }
</style>