<header id="header" class="shadow-lg p-3 mb-3 bg-white rounded-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-between align-itemss-center">
                    <div class="logo">
                        <a href="" title="" class="h3"><a href="{:url('index/index/index')}">
                            </a></a>
                        <small class="text-muted">三人行，必有我师</small>
                    </div>
                    <div class="search d-none d-sm-block">
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="搜你想搜"
                                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary">搜索</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="login">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>