<div class="card mb-2 shadow  bg-white rounded border-0">
    <div class="card-header bg-primary text-white">
        最新热点
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="" title="">Cras justo odio</a><span class="float-right">2-9</span></li>
        <li class="list-group-item"><a href="" title="">Cras justo odio</a><span class="float-right">2-9</span></li>
        <li class="list-group-item"><a href="" title="">Cras justo odio</a><span class="float-right">2-9</span></li>
    </ul>
</div>
<div class="card shadow  bg-white rounded border-0">
    <div class="card-header bg-primary text-white">
        最新课程
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="" title="">Cras justo odio</a><span class="float-right">2-9</span></li>
        <li class="list-group-item"><a href="" title="">Cras justo odio</a><span class="float-right">2-9</span></li>
        <li class="list-group-item"><a href="" title="">Cras justo odio</a><span class="float-right">2-9</span></li>
    </ul>
</div>

<div class="card mt-2 shadow  bg-white rounded border-0">
    <img src="https://box.kancloud.cn/2015-12-12_566b6a10506a4.png" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
</div>

<div class="card mt-2 shadow bg-white rounded border-0">
    <div class="card-body">
        <h5 class="card-title">关于本站</h5>

        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <h6 class="card-subtitle mb-2 text-muted">联系 : XXXXXX</h6>
        <a href="#" class="card-link">本站声明</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>