{extend name="public/base"/}
{block name="bread"}
<li class="breadcrumb-item active" aria-current="page">数据分析</li>
{/block}
{block name="content"}
<div class="row">
    <form>
        <input type="hidden" value="{$id}" id="id">

    </form>
    <div id="looks" style="width: 100%; height: 310px;">
    </div>
</div>

<script src="https://cdn.bootcss.com/echarts/3.7.1/echarts.min.js"></script>


<script type="text/javascript">
    var looks = echarts.init(document.getElementById('looks'));

    // 显示标题，图例和空的坐标轴
    looks.setOption({
        tooltip: {
            trigger: 'axis',
            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        legend: {
            data: ['直接访问', '邮件营销', '联盟广告', '视频广告', '搜索引擎', '百度', '谷歌', '必应', '其他']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: [
            {
                type: 'category',
                data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
            }
        ],
        yAxis: [
            {
                type: 'value'
            }
        ],
        series: [
            {
                name: '浏览量',
                type: 'bar',
                stack: '搜索引擎',
                data: [60, 71, 190, 130, 110]
            },
            {
                name: '评论量',
                type: 'bar',
                stack: '搜索引擎',
                data: [82, 91, 84, 109, 110, 120]
            }
        ]
    });
    looks.showLoading();    //数据加载完之前先显示一段简单的loading动画
    var names = [];    //类别数组（实际用来盛放X轴坐标值）
    var nums = [];    //销量数组（实际用来盛放Y坐标值）
    var x = [];    //类别数组（实际用来盛放X轴坐标值）
    var y = [];    //销量数组（实际用来盛放Y坐标值）
    var id = document.getElementById('id').value;
    $.ajax({
        type: "post",
        async: true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
        url: "{:url('admin/article/echartDetail')}",    //请求发送到admin/article/echartDetail
        data: { id: id },
        dataType: "json",        //返回数据形式为json
        success: function (result) {
            //请求成功时执行该函数内容，result即为服务器返回的json对象
            if (result) {

                for (var i = 0; i < result.sumHist.length; i++) {
                    if (result.sumComment == '') {
                        y.push(0);
                    }
                    for (var j = 0; j < result.sumComment.length; j++) {
                        if (result['sumComment'][j]['create_time_str'] == result['sumHist'][i]['create_time_str']) {
                            y.push(result['sumComment'][j]['sum']);
                        } else {
                            y.push(0);
                        }
                    }

                    names.push(result['sumHist'][i]['create_time_str']);    //挨个取出类别并填入类别数组
                }
                for (var i = 0; i < result.sumHist.length; i++) {
                    nums.push(result['sumHist'][i]['sum']);    //挨个取出类别并填入类别数组
                }


                looks.hideLoading();    //隐藏加载动画
                looks.setOption({        //加载数据图表
                    xAxis: {
                        data: names,

                    },
                    series: [
                        {
                            name: '浏览量',
                            type: 'bar',
                            stack: '搜索引擎',
                            data: nums
                        },
                        {
                            name: '评论量',
                            type: 'bar',
                            stack: '搜索引擎',
                            data: y
                        }
                    ]
                });



            }
        },
        error: function (errorMsg) {
            //请求失败时执行该函数
            alert("图表请求数据失败!");
            looks.hideLoading();
        }
    })
</script>
{/block}