{extend name="public/base"/}
{block name="bread"}
<li class="breadcrumb-item active" aria-current="page"> <a href="{:url('admin/article/index')}">文章管理</a> </li>
{/block}
{block name="content"}
<div class="row" style="margin-bottom: 100px;">
    <div class="col ">
        <form>
            <input type="hidden" name="id" value="{$result.id}">
            <div class="form-group">
                <label for="exampleInputEmail1">文章标题</label>
                <input type="text" class="form-control" name="title" aria-describedby="emailHelp"
                    value="{$result.title}">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">关键字</label>
                <input type="text" class="form-control" name="keyWord" aria-describedby="emailHelp"
                    value="{$result.keyWord}">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">文章内容</label>
                <textarea name="content" id="content">{$result.content}</textarea>

            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">是否推荐</label>&nbsp;
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="is_top" id="inlineRadio1" value="0" {if
                        $result.is_top eq 0} checked{else/}{/if}>
                    <label class="form-check-label" for="inlineRadio1">否</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="is_top" id="inlineRadio2" value="1" {if
                        $result.is_top eq 1} checked{else/}{/if}>
                    <label class="form-check-label" for="inlineRadio2">是</label>
                </div>
            </div>
            <button type="button" class="btn btn-primary" id="editEd">修改</button>
        </form>
    </div>
</div>
<script>tinymce.init({ selector: 'textarea' });</script>
<script>
    // 修改
    $(function () {
        $('#editEd').click(function () {
            var conter = tinymce.activeEditor.getContent();
            $('#content').val(conter);
            $.ajax({
                url: "{:url('admin/article/editEd')}",
                type: 'post',
                data: $('form').serialize(),
                dataType: 'json',
                success: function (data) {
                    if (data.code == 200) {
                        layer.alert(data.msg, {
                            icon: 1,
                            time: 2000,
                            end: function () {
                                window.location.href = "{:url('admin/article/index')}"
                            }
                        })
                    } else {
                        layer.alert(data.msg, {
                            icon: 0
                        });

                    }

                }

            });

        })
    })
</script>
{/block}