{extend name="public/base"/}
{block name="bread"}
<li class="breadcrumb-item active" aria-current="page">文章统计</li>
{/block}
{block name="content"}
<div class="row mt-4">
    <div class="col-4">
        <div id="looks" style="width: 80%; height: 300px;"></div>
    </div>
    <div class="col-8 mt-5">
        <table class="table table-hover">
            <tbody>
                {volist name="$result['pageArticle']" id="vo"}
                <tr>
                    <th scope="row">{$vo.id}</th>
                    <td> {$vo.title}
                        <p class="card-text"><small class="text-muted">发布时间:&nbsp;&nbsp;{$vo.create_time} </small></p>
                    </td>
                    <td> <a href="{:url('admin/article/analysis',['id'=>$vo.id])}">数据分析</a> </td>

                </tr>
                {/volist}
            </tbody>
        </table>
        {$page|raw}
    </div>
</div>
<!-- <div class="row mt-4">
    <div class="col">
        <div id="main" style="width: 100%; height: 300px;"></div>
    </div>
</div> -->


<script src="https://cdn.bootcss.com/echarts/3.7.1/echarts.min.js"></script>

<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('main'));
    // 显示标题，图例和空的坐标轴
    myChart.setOption({
        title: {
            text: '文章浏览量'
        },
        tooltip: {},
        legend: {
            data: ['浏览量']
        },
        xAxis: {
            type: 'category',
            data: names
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            data: nums,
            type: 'line'
        }]
    });

    myChart.showLoading();    //数据加载完之前先显示一段简单的loading动画

    var names = [];    //类别数组（实际用来盛放X轴坐标值）
    var nums = [];    //销量数组（实际用来盛放Y坐标值）

    $.ajax({
        type: "post",
        async: true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
        url: "{:url('admin/user/info')}",    //请求发送到admin/user/info
        data: {},
        dataType: "json",        //返回数据形式为json
        success: function (result) {
            //请求成功时执行该函数内容，result即为服务器返回的json对象
            if (result) {
                for (var i = 0; i < result.length; i++) {
                    names.push(result[i].create_time_str);    //挨个取出类别并填入类别数组
                }
                var sums = 0;
                for (var i = 0; i < result.length; i++) {
                    sums = result[i].sum + sums;
                    nums.push(sums);    //挨个取出销量并填入销量数组
                }
                myChart.hideLoading();    //隐藏加载动画
                myChart.setOption({        //加载数据图表
                    xAxis: {
                        data: names
                    },
                    series: [{
                        // 根据名字对应到相应的系列
                        name: '浏览量',
                        data: nums
                    }]
                });

            }
        },
        error: function (errorMsg) {
            //请求失败时执行该函数
            alert("图表请求数据失败!");
            myChart.hideLoading();
        }
    })
</script>
<script type="text/javascript">
    var looks = echarts.init(document.getElementById('looks'));
    // 显示标题，图例和空的坐标轴
    looks.setOption({
        tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b}: {c} ({d}%)'
        },
        legend: {
            orient: 'vertical',
            left: 10,
            data: ['lail']
        },
        series: [
            {
                name: '访问来源',
                type: 'pie',
                radius: ['50%', '70%'],
                avoidLabelOverlap: false,
                label: {
                    normal: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        show: true,
                        textStyle: {
                            fontSize: '30',
                            fontWeight: 'bold'
                        }
                    }
                },
                labelLine: {
                    normal: {
                        show: false
                    }
                },
                data: [
                    { value: 335, name: '1' },
                    { value: 310, name: '2' },
                    { value: 234, name: '3' },
                    { value: 135, name: '4' },
                    { value: 1548, name: '5' }
                ]
            }
        ]
    });
    looks.showLoading();    //数据加载完之前先显示一段简单的loading动画
    var articleLike = [];

    $.ajax({
        type: "post",
        async: true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
        url: "{:url('admin/article/look')}",    //请求发送到admin/user/info
        data: {},
        dataType: "json",        //返回数据形式为json
        success: function (result) {
            //请求成功时执行该函数内容，result即为服务器返回的json对象
            if (result) {
                for (var i = 0; i < result.length; i++) {
                    //挨个取出销量并填入销量数组
                    articleLike.push({ 'value': result[i].look, 'name': result[i].title })
                }
                looks.hideLoading();    //隐藏加载动画
                looks.setOption({        //加载数据图表
                    series: [{
                        // 根据名字对应到相应的系列
                        name: '浏览量',
                        data: articleLike
                    }]
                });

            }
        },
        error: function (errorMsg) {
            //请求失败时执行该函数
            alert("图表请求数据失败!");
            looks.hideLoading();
        }
    })
</script>
{/block}