{extend name="public/base"/}
{block name="bread"}
<li class="breadcrumb-item active" aria-current="page">评论管理</li>
{/block}
{block name="content"}
<div class="row">
    <div class="col">
        <div class="d-flex justify-content-between mb-2">
            <div class="">
                <form action="{:url('admin/comment/index')}" method="POST">
                    <div class="input-group ">
                        <input type="text" class="form-control" placeholder="搜文章" aria-label="Recipient's username"
                            aria-describedby="basic-addon2" name="title">
                        <div class="input-group-append">
                            <button class="btn btn-primary" class="submit">搜索</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">文章</th>
                    <th scope="col">评论数量</th>
                    <th scope="col">文章发布时间</th>
                    <th scope="col">操作</th>
                </tr>
            </thead>
            <tbody>
                {volist name="$dataArticle" id="vo"}
                <tr>
                    <th scope="row">{$vo.id}</th>
                    <th scope="row">{$vo.title}</th>
                    <td>{$vo.comment->count()}</td>
                    <td>{$vo.create_time}</td>

                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                            <a href="{:url('admin/comment/detail',['id'=>$vo.id])}" title=""
                                class="btn btn-outline-danger"><i class="fa fa-eye"></i></a>
                        </div>
                    </td>
                </tr>
                {/volist}
            </tbody>
        </table>
        <div>
            {$page|raw}
        </div>
    </div>
</div>
{/block}